.weather-content{
	background: $light-background;
}

.weather-table{
	text-align:center;
	width: 100%;
	tr{
		&:nth-child(2n){
			background: $light-background;
		}
	}
	th{
		padding: 8px;
		text-align:center;
		border-bottom:3px solid rgba($nav-color, .2);
		width:33%;
	}
	td{
		padding: 8px;
	}
}

.entry.weather-entry{
	background:none;
	min-height: 0;
	margin-bottom:0;
}

.weather-entry-content{
	p{
		color: $nav-color;
	}
}