@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
.main-message .background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.dropdown-arrow:after {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.grayButton:hover, .content .comments .comments-list ol li[id^="comment-"] .comment-reply-link a:hover, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-left a:hover, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-left a:hover, .tribe-events-back a:hover, .tribe-events-sub-nav .tribe-events-nav-previous a:hover, .nav-links li:hover, .main-blocks i:hover, .content .entry .moretag:hover, .content .entry .entry-title:hover, .content .bottom-nav a:hover, .sidebar .tweetButtonHolder :hover, .sidebar .widget-area a:hover, .widget-area.stream-box a:hover, .alex-mac:hover, .weather-bar .weather-bar-button:hover {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.main-message .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* These styles assume you are using ul and li */
.dropit {
  list-style: none;
  padding: 0;
  margin: 0; }

.dropit .dropit-trigger {
  position: relative; }

.dropit .dropit-submenu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0; }

.dropit .dropit-open .dropit-submenu {
  display: block; }

html,
body,
span {
  font-family: 'Open Sans', sans-serif; }

h1, .nav-links li {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100; }

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400; }

h3, .sidebar .widget-area ul li:nth-child(1) div .awesome-weather-header {
  color: white;
  text-transform: uppercase;
  font-size: 15px; }

h4 {
  font-size: 2.5em; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

p {
  color: white; }

nav {
  z-index: 2; }

.page-title {
  color: #1a1a1a; }

.container {
  width: 80%;
  position: relative; }

.grayButton, .content .comments .comments-list ol li[id^="comment-"] .comment-reply-link a, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-left a, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-left a, .tribe-events-back a, .tribe-events-sub-nav .tribe-events-nav-previous a {
  border: none;
  background: rgba(26, 26, 26, 0.5);
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3.5rem; }
  .grayButton:hover, .content .comments .comments-list ol li[id^="comment-"] .comment-reply-link a:hover, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-left a:hover, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-left a:hover, .tribe-events-back a:hover, .tribe-events-sub-nav .tribe-events-nav-previous a:hover {
    background: rgba(26, 26, 26, 0.7); }

.row {
  margin-top: 30px; }
  .row.alert-banner {
    margin-top: 0px; }

.wrapper {
  background: rgba(142, 140, 140, 0.25); }

.logo {
  margin-top: -93px; }

.main-message-holder {
  position: absolute;
  width: 100% !important;
  text-align: center;
  z-index: 1;
  bottom: 30px; }

.main-message {
  background: url("../img/radiobackground.jpg");
  background-size: cover;
  width: 100%;
  height: 325px;
  position: relative; }
  .main-message h1, .main-message .nav-links li, .nav-links .main-message li {
    margin: 0;
    font-size: 4em;
    font-weight: 800; }
  .main-message span {
    text-transform: uppercase;
    width: 100%;
    font-weight: 100;
    font-size: 30px;
    color: white; }
  .main-message .background {
    background: rgba(26, 26, 26, 0.6); }

/* nav styles */
.visible-menu {
  display: block !important; }

nav {
  position: absolute;
  height: 115px;
  width: 100%;
  background: #1a1a1a;
  top: 50px; }
  nav .container {
    height: 100%; }

button {
  display: none;
  position: absolute;
  float: left;
  top: 15px;
  left: 1%;
  border: 2px solid white;
  background: none;
  border-radius: 2px;
  height: 50px;
  width: 50px;
  z-index: 10; }
  button:before {
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    content: "";
    height: 22px;
    position: absolute;
    right: 7px;
    top: 13px;
    width: 33px; }
  button:hover {
    cursor: pointer; }

.nav-logo {
  float: left;
  text-align: center;
  position: relative;
  width: 20%; }

.logo-img {
  margin-top: -39px; }

.menu-home-menu-container {
  float: left;
  width: 80%; }

.nav-links {
  height: 100%;
  list-style-type: none;
  text-align: center;
  padding: 0; }
  .nav-links li {
    font-size: 22px;
    line-height: 115px;
    height: 100%;
    padding: 0 3%;
    position: relative;
    display: inline-block; }
    .nav-links li:hover {
      background: rgba(255, 255, 255, 0.05); }
    .nav-links li a {
      position: relative;
      color: white;
      text-decoration: none; }

.sub-menu {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  background: rgba(255, 255, 255, 0.75);
  width: 100%; }
  .sub-menu li {
    line-height: normal; }
    .sub-menu li a {
      color: #1a1a1a;
      font-weight: 400; }
  .sub-menu:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(255, 255, 255, 0.75);
    margin: -8px auto 0 auto; }

.main-block-holder {
  width: 100%;
  background: #ededed;
  border-bottom: 5px solid rgba(26, 26, 26, 0.15);
  position: relative;
  margin: 0px 0 15px 0; }

.arrow-block {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  background: #ededed;
  left: 50%;
  position: absolute;
  bottom: -13px;
  border-bottom: 5px solid rgba(26, 26, 26, 0.15);
  border-right: 5px solid rgba(26, 26, 26, 0.15); }

.main-blocks {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-pack: center;
  padding: 20px 0 0 0;
  list-style-type: none;
  margin: 0;
  width: 100%; }
  .main-blocks li {
    text-align: center;
    width: 30%;
    height: 150px;
    margin-right: 15px;
    position: relative; }
  .main-blocks h2 {
    color: #1a1a1a;
    display: block;
    font-weight: 800;
    margin: 0 0 4px 0; }
  .main-blocks span {
    opacity: .75; }
  .main-blocks i {
    color: #1a1a1a;
    font-size: 5rem;
    display: block;
    height: 70px;
    line-height: 70px; }
    .main-blocks i:hover {
      color: #be3d41;
      line-height: 65px; }

.block-icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%; }
  .block-icon i {
    font-size: 80px;
    line-height: 100px;
    text-align: center; }

.icon-text {
  width: 100%;
  text-align: center; }
  .icon-text h2 {
    text-align: center;
    width: 100%; }
  .icon-text span {
    text-align: center; }

.divider {
  z-index: 1;
  height: 50px;
  background: #1a1a1a;
  box-shadow: 0px 1px 10px #1a1a1a;
  padding: 5px;
  margin-bottom: 0; }
  .divider .page-title {
    font-weight: 100;
    float: left;
    margin-top: 7px;
    color: white; }
  .divider form {
    float: right;
    height: 40px; }
    .divider form .input-holder {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      list-style-type: none; }
    .divider form .search-box {
      display: none;
      border: none;
      position: absolute;
      right: 0;
      padding: 10px;
      height: 40px;
      width: 100%;
      z-index: 1000; }
    .divider form .search-word {
      font-weight: 600;
      font-size: 25px;
      line-height: 36px;
      color: white;
      margin-right: 10px; }
      .divider form .search-word:hover {
        cursor: pointer; }
    .divider form .search-icon {
      background: url(../img/search.png) no-repeat;
      border: none;
      cursor: pointer;
      background-size: 80%;
      background-position: center;
      float: left;
      padding: 10px 20px;
      height: 37px; }
    .divider form input::-webkit-input-placeholder {
      color: #1a1a1a; }
    .divider form input:-moz-placeholder {
      /* Firefox 18- */
      color: #1a1a1a; }
    .divider form input::-moz-placeholder {
      /* Firefox 19+ */
      color: #1a1a1a; }
    .divider form input:-ms-input-placeholder {
      color: #1a1a1a; }

.container .title {
  padding: 15px 0 25px 0; }
  .container .title h1, .container .title .nav-links li, .nav-links .container .title li {
    color: #1a1a1a;
    font-weight: 100; }
.container .content {
  margin-bottom: 2em
  /* search page */ }
  .container .content .entry.search {
    background: rgba(142, 140, 140, 0.15);
    box-shadow: none;
    height: auto;
    min-height: 0; }
    .container .content .entry.search p {
      color: #1a1a1a;
      width: 100%;
      max-width: 100%; }
    .container .content .entry.search .entry-summary p {
      color: #1a1a1a; }

.entry-content img {
  margin: 0 0px 10px 0px;
  border: 3px solid #3b3b3b;
  max-height: 450px;
  width: auto;
  margin-top: 10px; }

.container.main {
  margin: 25px auto 45px auto;
  width: 80%; }

.entry-title,
.entry-meta,
.entry-content,
.entry-utility {
  position: relative; }

.entry-title.latest-episode {
  margin-bottom: 15px; }

aside {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  position: absolute;
  background: #0e0e0e;
  width: 22px;
  height: 22px;
  z-index: -1;
  left: 5px;
  bottom: -11px; }

#latest-episode {
  margin-bottom: 0; }

.cat-name {
  font-weight: 800; }

.post-date {
  position: absolute;
  bottom: 8px;
  left: 10px; }

.content {
  /* post entries */
  /* single post */ }
  .content h1.latest-episode, .content .nav-links li.latest-episode, .nav-links .content li.latest-episode {
    background: #3b3b3b;
    color: white !important;
    margin-bottom: 30px;
    padding: 10px;
    display: block;
    width: 100%; }
  .content .entry {
    height: auto;
    min-height: 250px;
    background: #d4d4d4;
    background-size: cover;
    background-position: 0 25%;
    margin-bottom: 3em;
    padding-bottom: 25px; }
    .content .entry:last-child {
      margin-bottom: 0; }
    .content .entry.announcement {
      padding: 20px 15px 0px 15px;
      height: auto;
      min-height: 0;
      margin-bottom: 20px; }
    .content .entry .moretag {
      background: rgba(26, 26, 26, 0.5);
      color: white;
      font-weight: 100;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 3.5rem;
      position: absolute;
      right: 13px;
      bottom: 13px;
      z-index: 10;
      padding: 1em 1.5em; }
    .content .entry .moretag:hover {
      background: rgba(26, 26, 26, 0.7); }
    .content .entry .entry-title {
      background: #535353;
      color: white;
      margin-bottom: 20px;
      padding: 10px;
      display: block;
      height: auto;
      width: 85%;
      margin-left: -30px; }
      .content .entry .entry-title a {
        color: white;
        height: 100%;
        width: 100%; }
        .content .entry .entry-title a:hover {
          text-decoration: none; }
      .content .entry .entry-title:hover {
        background: #515151; }
    .content .entry .entry-content {
      text-align: center; }
      .content .entry .entry-content p {
        text-align: left;
        color: #1a1a1a;
        word-wrap: break-word;
        height: 100%;
        font-size: 19px;
        line-height: 22px;
        max-width: 85%;
        font-weight: 100; }
      .content .entry .entry-content img {
        margin: 0 0px 75px 0px;
        border: 3px solid #3b3b3b;
        max-width: 100%;
        height: auto; }
    .content .entry .entry-utility {
      display: none; }
    .content .entry .entry-meta {
      display: none; }
  .content .bottom-nav {
    float: left;
    width: 100%;
    height: 75px;
    margin-top: -15px; }
    .content .bottom-nav a:nth-child(1) {
      margin-left: 1rem; }
    .content .bottom-nav a {
      float: right;
      background: rgba(26, 26, 26, 0.5);
      color: white;
      font-weight: 100;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 3.5rem;
      padding: .5rem 4.5rem; }
    .content .bottom-nav a:hover {
      background: rgba(26, 26, 26, 0.7); }
  .content .comments {
    float: left;
    width: 100%;
    background: rgba(142, 140, 140, 0.15);
    padding: 15px;
    margin: 15px 0; }
    .content .comments .comments-list h3, .content .comments .comments-list .sidebar .widget-area ul li:nth-child(1) div .awesome-weather-header, .sidebar .widget-area ul li:nth-child(1) div .content .comments .comments-list .awesome-weather-header {
      color: #1a1a1a; }
    .content .comments .comments-list ol {
      list-style-type: none;
      padding: 0; }
      .content .comments .comments-list ol li[id^="comment-"] {
        padding: 15px;
        background: rgba(26, 26, 26, 0.1);
        margin-bottom: 10px; }
        .content .comments .comments-list ol li[id^="comment-"] .comment-meta {
          margin-top: 10px; }
          .content .comments .comments-list ol li[id^="comment-"] .comment-meta a {
            color: #1a1a1a; }
        .content .comments .comments-list ol li[id^="comment-"] .comment-author img {
          border: 1px solid rgba(26, 26, 26, 0.1); }
        .content .comments .comments-list ol li[id^="comment-"] .comment-author span {
          font-size: 20px;
          font-weight: 100; }
        .content .comments .comments-list ol li[id^="comment-"] .comment-content {
          margin: 1.5em 0; }
          .content .comments .comments-list ol li[id^="comment-"] .comment-content p {
            color: #1a1a1a; }
        .content .comments .comments-list ol li[id^="comment-"] .comment-reply-link a {
          color: white;
          padding: 0.5rem 1.5rem; }
        .content .comments .comments-list ol li[id^="comment-"] ul {
          margin-top: 2em; }
      .content .comments .comments-list ol li ul {
        list-style-type: none; }
    .content .comments .respond h3, .content .comments .respond .sidebar .widget-area ul li:nth-child(1) div .awesome-weather-header, .sidebar .widget-area ul li:nth-child(1) div .content .comments .respond .awesome-weather-header {
      color: #1a1a1a;
      font-size: 20px; }
    .content .comments .respond span {
      color: #1a1a1a; }
    .content .comments .respond a {
      color: gray; }
    .content .comments .respond p {
      color: #1a1a1a; }
    .content .comments .respond .formcontainer .commentform .form-allowed {
      padding: 10px;
      margin: 10px 0 14px 0; }
    .content .comments .respond .formcontainer .commentform .form-section .form-textarea textarea {
      width: 100%;
      border: none; }
  .content .entry.single {
    height: auto;
    margin-bottom: 4em; }
    .content .entry.single h1, .content .entry.single .nav-links li, .nav-links .content .entry.single li {
      color: white;
      text-align: left; }
    .content .entry.single .entry-title {
      margin-bottom: 0; }
      .content .entry.single .entry-title:hover {
        background: rgba(26, 26, 26, 0.8); }
    .content .entry.single .entry-meta.single {
      display: block;
      float: right;
      position: absolute;
      right: 20px;
      top: 20px; }
      .content .entry.single .entry-meta.single .author {
        display: none;
        float: right;
        text-transform: uppercase; }
        .content .entry.single .entry-meta.single .author a {
          color: #1a1a1a; }
      .content .entry.single .entry-meta.single .entry-date {
        display: block;
        float: right;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 10px; }
        .content .entry.single .entry-meta.single .entry-date .published {
          cursor: auto;
          border: none; }
    .content .entry.single .entry-content.single {
      padding-bottom: 2em;
      padding-top: 2em; }
      .content .entry.single .entry-content.single img {
        margin-bottom: 10px; }
      .content .entry.single .entry-content.single p {
        text-transform: none;
        max-width: 100%;
        color: #1a1a1a; }
      .content .entry.single .entry-content.single h1, .content .entry.single .entry-content.single .nav-links li, .nav-links .content .entry.single .entry-content.single li {
        color: #1a1a1a;
        font-size: 30px;
        font-weight: 800; }
      .content .entry.single .entry-content.single h2 {
        color: #1a1a1a;
        font-size: 25px;
        font-weight: 700;
        text-align: left; }
      .content .entry.single .entry-content.single h3, .content .entry.single .entry-content.single .sidebar .widget-area ul li:nth-child(1) div .awesome-weather-header, .sidebar .widget-area ul li:nth-child(1) div .content .entry.single .entry-content.single .awesome-weather-header {
        color: #1a1a1a;
        font-size: 20px;
        font-weight: 600;
        text-align: left; }
      .content .entry.single .entry-content.single h4 {
        color: #1a1a1a;
        font-size: 18px;
        font-weight: 600;
        text-align: left; }

/* sidebar */
.sidebar {
  margin-bottom: 3em; }
  .sidebar .tweetButtonHolder {
    width: 100%;
    position: relative;
    text-align: center; }
    .sidebar .tweetButtonHolder .tweet-button {
      padding: 15px 20px;
      background: none;
      border-radius: 0;
      border: 3px solid white;
      margin: 0 auto; }
    .sidebar .tweetButtonHolder :hover {
      background: white;
      color: #1a1a1a; }
  .sidebar .widget-area {
    background: #1a1a1a;
    width: 350px;
    border: 3px solid #1a1a1a;
    margin: 0 auto 3rem auto; }
    .sidebar .widget-area a {
      color: white;
      text-decoration: none;
      padding: 0 20px; }
      .sidebar .widget-area a:hover {
        color: #8e8c8c; }
    .sidebar .widget-area ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0; }
      .sidebar .widget-area ul li p a {
        text-decoration: none;
        color: #8e8c8c; }
      .sidebar .widget-area ul li.widget_latest_tweets_widget a {
        padding: 0; }
      .sidebar .widget-area ul .widget-title {
        text-align: center;
        padding: 15px 0px;
        margin-bottom: 0; }
    .sidebar .widget-area.two {
      height: 560px; }
      .sidebar .widget-area.two ul {
        margin-bottom: 0; }
        .sidebar .widget-area.two ul li div ul {
          padding: 0 20px 20px 20px; }
    .sidebar .widget-area.four {
      border: none;
      padding: 0px; }
      .sidebar .widget-area.four a {
        padding: 0; }

.widget-area.stream-box {
  padding: 0 15px 20px 15px;
  text-align: center; }
  .widget-area.stream-box h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px; }
  .widget-area.stream-box span {
    color: white;
    font-size: 17px;
    font-weight: 100;
    text-transform: none;
    line-height: 20px; }
  .widget-area.stream-box hr {
    border: 2px solid white;
    width: 85%; }
  .widget-area.stream-box a {
    text-align: center;
    margin-top: 12px;
    padding: 0;
    display: block;
    font-size: 19px;
    font-weight: 600; }
    .widget-area.stream-box a:hover {
      color: #EE4D51; }

/* footer */
.footer {
  background: #1a1a1a;
  height: auto; }
  .footer a {
    color: white;
    text-decoration: none; }
  .footer h2,
  .footer p {
    color: white;
    font-weight: 100; }
  .footer .container {
    padding-top: 20px; }
    .footer .container .row {
      margin-top: 0; }
    .footer .container .holder {
      padding: 0 2em;
      margin-top: 35px; }
      .footer .container .holder .ad {
        background: #8e8c8c;
        height: 100%;
        width: 100%; }
    .footer .container .info h2 {
      border-bottom: 2px solid #8e8c8c;
      padding-bottom: 2px;
      font-size: 18px; }
    .footer .container .info .address,
    .footer .container .info .emailPhone {
      padding-left: 0; }
    .footer .container .legal {
      margin-top: 20px;
      border-top: 2px solid #8e8c8c;
      text-align: center; }
      .footer .container .legal p {
        color: #8e8c8c; }

.personal-holder {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%); }

.alex-mac {
  position: relative;
  border: 2px solid white;
  height: 60px;
  width: 500px;
  margin: 0 auto; }
  .alex-mac a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .alex-mac:hover {
    background: white; }
    .alex-mac:hover span, .alex-mac:hover h1, .alex-mac:hover .nav-links li, .nav-links .alex-mac:hover li, .alex-mac:hover .click-here {
      color: #1a1a1a; }

.me-left {
  text-align: center;
  font-style: italic;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .me-left span {
    color: white; }

.me-right h1, .me-right .nav-links li, .nav-links .me-right li {
  line-height: 15px;
  font-size: 35px; }

.click-here {
  display: none;
  width: 100%;
  text-align: center;
  font-style: italic; }

/* ----- TABLE ------*/
table#auction {
  width: 80%;
  margin: 50px auto; }
  table#auction tr td {
    text-align: center;
    padding: 10px;
    font-size: 20px; }
    table#auction tr td:first-child {
      width: 35%; }
    table#auction tr td:last-child {
      width: 65%; }
  table#auction thead tr {
    background: #1a1a1a; }
    table#auction thead tr td {
      color: white; }
  table#auction tbody tr:nth-child(2n+1) {
    background: #8e8c8c; }

/* ------ CALENDAR TABLE STYLE OVERRIDES ----- */
.universals, .tribe-events-single-event-title, .date-start, .tribe-events-single-event-description p, .tribe-events-single-section-title, #tribe-events-content div[id^="post-"] .tribe-events-single-event-description p {
  color: #1a1a1a !important; }

.vcalendar {
  background: rgba(142, 140, 140, 0.15); }

.tribe-events-before-html {
  display: none;
  background: rgba(142, 140, 140, 0.15);
  padding: 10px 15px;
  margin-bottom: 25px; }
  .tribe-events-before-html p {
    color: #1a1a1a;
    font-size: 20px; }

#tribe-events-pg-template {
  width: 70%;
  margin: 100px auto 0 auto !important; }

#tribe-events-bar {
  margin-bottom: 10px !important; }

#tribe-bar-form #tribe-bar-views + .tribe-bar-filters {
  right: auto !important; }

#tribe-bar-form #tribe-bar-views {
  left: auto !important;
  float: right !important; }

h2.tribe-events-page-title {
  color: #1a1a1a !important; }

#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-left a, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-left a {
  padding: 10px 20px !important; }

#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title a, #tribe-events-content .tribe-events-calendar .sidebar .widget-area ul li:nth-child(1) div[id*="tribe-events-event-"] .tribe-events-month-event-title.awesome-weather-header a, .sidebar .widget-area ul li:nth-child(1) #tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] .tribe-events-month-event-title.awesome-weather-header a {
  color: #1a1a1a;
  font-weight: 100;
  font-size: 17px; }
  #tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title a span, #tribe-events-content .tribe-events-calendar .sidebar .widget-area ul li:nth-child(1) div[id*="tribe-events-event-"] .tribe-events-month-event-title.awesome-weather-header a span, .sidebar .widget-area ul li:nth-child(1) #tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] .tribe-events-month-event-title.awesome-weather-header a span {
    display: none !important; }

/* list view */
h2.tribe-events-list-event-title a {
  font-size: 24px !important;
  color: #1a1a1a; }

.tribe-events-list-separator-month + .vevent.hentry.tribe-events-first {
  padding: 2.5em !important;
  margin-bottom: 20px; }

.tribe-events-calendar div[id*="tribe-events-event-"] {
  padding: 5px; }

.tribe-events-button {
  margin-bottom: 20px; }

.tribe-events-read-more {
  background: rgba(26, 26, 26, 0.5);
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  display: block;
  width: 160px;
  padding: 10px 20px !important;
  margin-top: 10px; }
  .tribe-events-read-more:hover {
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background: rgba(26, 26, 26, 0.7);
    color: white; }

.tribe-events-list-event-description p {
  color: #1a1a1a !important; }

/* single event description */
.tribe-events-single-event-title {
  font-weight: 400;
  background: rgba(142, 140, 140, 0.15);
  display: block;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 0;
  font-size: 30px; }

.tribe-events-schedule {
  margin-top: 0 !important; }
  .tribe-events-schedule h3, .tribe-events-schedule .sidebar .widget-area ul li:nth-child(1) div .awesome-weather-header, .sidebar .widget-area ul li:nth-child(1) div .tribe-events-schedule .awesome-weather-header {
    text-align: center;
    background: rgba(142, 140, 140, 0.15);
    display: block;
    padding: 10px 15px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 19px; }

.tribe-events-cost {
  display: block;
  padding: 10px 15px;
  margin-top: 0;
  text-align: center;
  background: rgba(142, 140, 140, 0.15); }
  .tribe-events-cost:before {
    content: "Cost: "; }

.tribe-events-meta-group dl dd {
  margin-bottom: 10px; }

/* end of description */
.tribe-events-back a {
  padding: 5px 10px; }
  .tribe-events-back a::first-letter {
    display: none !important; }

.tribe-events-divider {
  display: none; }

.tribe-events-sub-nav {
  display: none;
  margin-top: 10px !important; }
  .tribe-events-sub-nav .tribe-events-nav-previous {
    padding: 10px 15px; }

/* event details */
#tribe-events-content div[id^="post-"] {
  background: rgba(142, 140, 140, 0.15) !important;
  padding: 20px !important; }
  #tribe-events-content div[id^="post-"] .tribe-events-single-event-description p {
    font-size: 15px; }

.tribe-events-ical {
  display: none !important; }

/* day view */
.tribe-events-day .tribe-events-day-time-slot .vevent {
  margin-left: 0 !important; }

/* ----- HEADER-PAGE ----- */
.banner {
  background: url("../img/banner-field.jpg") no-repeat;
  background-size: cover;
  height: 350px; }

/* ALERT BANNER */
.weather-bar {
  margin: 50px 0 -50px 0px;
  position: relative;
  background: #e02226;
  height: 100px; }
  @media screen and (max-width: 1200px) {
    .weather-bar {
      height: 80px; } }
  @media screen and (max-width: 730px) {
    .weather-bar {
      height: auto;
      margin: 0 auto 15px auto; } }
  @media screen and (max-width: 500px) {
    .weather-bar {
      padding: 10px; } }
  .weather-bar span {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    line-height: 97px;
    float: left; }
    @media screen and (max-width: 1400px) {
      .weather-bar span {
        font-size: 45px;
        line-height: 94px; } }
    @media screen and (max-width: 1200px) {
      .weather-bar span {
        font-size: 25px;
        line-height: 78px; } }
    @media screen and (max-width: 1200px) {
      .weather-bar span {
        font-size: 30px; } }
    @media screen and (max-width: 730px) {
      .weather-bar span {
        float: none; } }
    @media screen and (max-width: 500px) {
      .weather-bar span {
        line-height: 25px;
        font-size: 25px; } }
  .weather-bar .weather-bar-button {
    font-size: 20px;
    border: 2px solid white;
    padding: 10px;
    margin-left: 50px;
    display: block;
    line-height: 26px;
    height: 50px;
    width: 250px;
    float: right;
    margin-top: 25px;
    text-align: center; }
    .weather-bar .weather-bar-button:hover {
      background: white;
      color: #e02226; }
    @media screen and (max-width: 1200px) {
      .weather-bar .weather-bar-button {
        margin-top: 15px;
        width: 200px;
        font-size: 16px; } }
    @media screen and (max-width: 1200px) {
      .weather-bar .weather-bar-button {
        margin-left: 0; } }
    @media screen and (max-width: 730px) {
      .weather-bar .weather-bar-button {
        float: none;
        clear: both;
        margin: 0 auto 15px auto; } }
    @media screen and (max-width: 500px) {
      .weather-bar .weather-bar-button {
        margin-top: 10px;
        margin-bottom: 0; } }
  .weather-bar.weather-bar-page {
    margin: 50px 0 0px 0px; }

.weather-bar-container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 10px; }
  .weather-bar-container a:hover, .weather-bar-container a:focus {
    text-decoration: none;
    color: white; }
  @media screen and (max-width: 1400px) {
    .weather-bar-container {
      width: 85%; } }
  @media screen and (max-width: 730px) {
    .weather-bar-container {
      text-align: center; } }

#ehu-open-button {
  display: none !important; }

#mobile-menu {
  -ms-transform: translatey(-250%);
  -webkit-transform: translatey(-250%);
  transform: translatey(-250%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(237, 237, 237, 0.95); }
  #mobile-menu .menu-home-menu-container {
    width: 100%; }
  #mobile-menu .nav-links {
    display: block; }
    #mobile-menu .nav-links li {
      width: 100%; }
      #mobile-menu .nav-links li a {
        text-shadow: 2px 2px rgba(26, 26, 26, 0.15);
        font-weight: normal;
        color: #1a1a1a; }
  #mobile-menu .sub-menu {
    left: auto;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    padding: 0;
    left: auto;
    position: relative;
    background: none; }
    #mobile-menu .sub-menu:before {
      border: none; }

#mobile-menu-toggle {
  display: none;
  padding: 10px 10px;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 25px;
  text-align: center;
  color: #1a1a1a;
  background: #ededed;
  z-index: 5; }
  #mobile-menu-toggle i {
    margin-left: 10px; }
  #mobile-menu-toggle:hover {
    cursor: pointer; }

#mobile-menu-close {
  display: inline;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 5rem; }
  #mobile-menu-close:hover {
    cursor: pointer; }

.open-mobile-menu {
  -ms-transform: translatey(0%) !important;
  -webkit-transform: translatey(0%) !important;
  transform: translatey(0%) !important; }

.dropdown-arrow:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid;
  position: absolute;
  margin-left: 10px; }

/* makes admin bar invisible when viewing in browswer */
#wpadminbar {
  display: none; }

/* ads */
.a-single {
  text-align: center;
  margin-bottom: 15px; }
  .a-single.a-9 {
    margin-bottom: 0; }
    .a-single.a-9 img {
      width: 100%; }
    .a-single.a-9 a {
      padding: 0; }
  @media screen and (max-width: 992px) {
    .a-single.a-7 object, .a-single.a-8 object {
      width: 100%; } }
  @media screen and (max-width: 750px) {
    .a-single.a-7 img, .a-single.a-8 img {
      width: 90%; } }
  @media screen and (max-width: 650px) {
    .a-single.a-8 img {
      margin: 20px 0 -10px 0; } }
  .a-single.a-6 {
    text-align: left;
    padding-bottom: 30px; }
    @media screen and (max-width: 650px) {
      .a-single.a-6 {
        float: none;
        text-align: center; } }
    .a-single.a-6 img {
      width: 100%;
      float: left;
      margin-top: -29px; }
      @media screen and (max-width: 1200px) {
        .a-single.a-6 img {
          width: 100%;
          margin-top: -23px; } }
      @media screen and (max-width: 650px) {
        .a-single.a-6 img {
          width: 100%;
          float: none;
          margin-top: 20px; } }
  .a-single.a-5 {
    margin-bottom: 0; }
    .a-single.a-5 a {
      padding: 0; }
      .a-single.a-5 a img {
        border: 3px solid #1a1a1a;
        width: 100%; }

/* new ad styles */
.ad-block {
  text-align: center; }
  @media screen and (max-width: 750px) {
    .ad-block.ad-1 img {
      width: 90%; } }
  .ad-block.ad-2 {
    text-align: left;
    padding-bottom: 30px; }
    @media screen and (max-width: 650px) {
      .ad-block.ad-2 {
        float: none;
        text-align: center; } }
    .ad-block.ad-2 img {
      width: 100%;
      float: left;
      margin-top: -29px; }
      @media screen and (max-width: 1200px) {
        .ad-block.ad-2 img {
          width: 100%;
          margin-top: -23px; } }
      @media screen and (max-width: 650px) {
        .ad-block.ad-2 img {
          width: 100%;
          float: none;
          margin-top: 20px; } }

/* newest ad styles */
.g {
  overflow: visible !important; }

.ad-group-1 img {
  width: 100%; }

.ad-group-2 {
  text-align: center; }
  @media screen and (max-width: 992px) {
    .ad-group-2 object {
      width: 100%; } }
  @media screen and (max-width: 750px) {
    .ad-group-2 img {
      width: 90%; } }

.ad-group-3 {
  text-align: center; }
  .ad-group-3 img {
    width: 98%;
    margin: 3px 0; }

.weather-content {
  background: rgba(142, 140, 140, 0.15); }

.weather-table {
  text-align: center;
  width: 100%; }
  .weather-table tr:nth-child(2n) {
    background: rgba(142, 140, 140, 0.15); }
  .weather-table th {
    padding: 8px;
    text-align: center;
    border-bottom: 3px solid rgba(26, 26, 26, 0.2);
    width: 33%; }
  .weather-table td {
    padding: 8px; }

.entry.weather-entry {
  background: none;
  min-height: 0;
  margin-bottom: 0; }

.weather-entry-content p {
  color: #1a1a1a; }

.entry.lost-pet {
  height: 300px;
  padding-top: 9px; }

.pet-picture {
  height: 280px;
  overflow: hidden; }
  .pet-picture img {
    width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.pet-info {
  height: 280px; }
  .pet-info h1, .pet-info .nav-links li, .nav-links .pet-info li {
    font-weight: 800;
    color: #1a1a1a;
    margin-bottom: 5px; }
    .pet-info h1 span, .pet-info .nav-links li span, .nav-links .pet-info li span {
      font-weight: 100; }
  .pet-info p {
    color: #1a1a1a; }
  .pet-info hr {
    margin: 10px;
    border-top: 5px solid rgba(26, 26, 26, 0.2); }

/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 1400px) {
  .container {
    width: 95%; } }
@media screen and (max-width: 1200px) {
  .main-blocks {
    padding-bottom: 15px; }

  .main-message {
    height: 300px; }
    .main-message h1, .main-message .nav-links li, .nav-links .main-message li {
      font-size: 3.5rem; }

  .nav-links li {
    padding: 0 2%; } }
@media screen and (max-width: 1100px) {
  .logo-img {
    width: 90%;
    margin-top: -21px; }

  .nav-links li {
    font-size: 20px; } }
@media screen and (max-width: 992px) {
  .main-message {
    height: 135px; }

  .menu-home-menu-container {
    width: 100%; }

  nav {
    top: 0;
    height: auto;
    position: relative; }

  .nav-logo {
    width: 100%;
    text-align: center; }

  .logo-img {
    width: auto;
    margin-top: 15px; }

  .nav-links {
    width: 100%;
    margin: 10px 0 0 0; }
    .nav-links li {
      line-height: 75px;
      font-size: 18px; }

  ul#dropdown-list img {
    display: none; }

  .alex-mac {
    width: 100%;
    height: 75px;
    margin: -25px 0 25px 0; }

  .me-left {
    top: auto;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    margin-top: 10px; }
    .me-left span br {
      display: none; }

  .me-right {
    margin-top: -14px;
    text-align: center; }

  .main-block-holder {
    height: 230px; }

  .logo {
    width: 150px;
    margin-top: -90px; }

  .container.main {
    margin-top: 0;
    margin-bottom: 0;
    width: 95%; }

  .divider {
    margin-bottom: 0; }

  .content .comments {
    float: none; }
  .content .entry .entry-title {
    padding-top: .5em; }
  .content .entry.single .entry-meta.single {
    right: initial;
    top: initial; }
  .content .entry.single .entry-content.single {
    padding-top: 3em; }
  .content .bottom-nav {
    float: none;
    padding-bottom: 15px;
    height: 50px; }

  .sidebar .widget-area {
    width: 100%; }
    .sidebar .widget-area ul {
      margin-bottom: 0; }
    .sidebar .widget-area:first-of-type {
      margin-top: 5em; }
    .sidebar .widget-area.two {
      display: none; }

  .footer .container .row .legal {
    margin-top: 40px; }
  .footer .container .row .info {
    height: 93px; }

  .weather-bar {
    margin-top: 0; }

  .weather-bar.weather-bar-page {
    margin: 0 0 20px 0; } }
@media screen and (max-width: 768px) {
  #mobile-menu-toggle {
    display: block; }

  button {
    display: block; }

  .nav-links {
    display: none; }
    .nav-links li {
      line-height: 50px;
      text-align: center; }

  .logo-img {
    margin-bottom: 20px; }

  .mobile-only {
    display: block; }

  .cat-name {
    display: none; }

  .weather-bar {
    margin-bottom: 0; }

  .main-blocks {
    display: block;
    padding: 0; }
    .main-blocks li {
      width: 100%;
      height: auto; }

  .main-block-holder {
    margin-top: 0;
    height: auto;
    padding-bottom: 15px; }

  .block-icon {
    display: none; }

  .main-message-holder {
    text-align: center;
    bottom: 40px; }

  .main-message h1, .main-message .nav-links li, .nav-links .main-message li {
    width: 100%;
    width: 100%;
    font-size: 3rem; }
  .main-message span {
    font-size: 20px; }

  .logo {
    margin-top: -11px;
    width: 135px; }

  .wrapper .divider {
    position: relative;
    height: auto; }
    .wrapper .divider .container #searchform {
      margin-top: 3px;
      clear: both;
      float: none;
      text-align: center; }
      .wrapper .divider .container #searchform .input-holder {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
                justify-content: center;
        -ms-flex-pack: center;
        padding: 0; }
    .wrapper .divider .container .page-title {
      clear: both;
      float: none;
      text-align: center; }

  .content .entry {
    margin-bottom: 10px; }
    .content .entry .entry-content p {
      max-width: 100%; }

  .footer .container .row .info {
    padding: 0;
    text-align: center;
    height: auto; }
    .footer .container .row .info .address {
      padding: 0; }
    .footer .container .row .info .emailPhone {
      padding: 0; } }
@media screen and (max-width: 650px) {
  .container {
    width: 95%; }

  .banner {
    height: 150px; }

  .content .entry {
    padding-bottom: 70px; }
    .content .entry .entry-title {
      font-size: 20px;
      padding-top: 13px;
      width: 90%; }
    .content .entry .entry-content p {
      font-size: 21px; }
  .content .bottom-nav a {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }

  .divider.page {
    margin-bottom: 0; }

  .alex-mac {
    height: 93px; }

  .click-here {
    display: block; } }
@media screen and (max-width: 560px) {
  .main-message h1, .main-message .nav-links li, .nav-links .main-message li, .main-message span {
    font-size: 2.0rem; }

  .content .bottom-nav {
    height: auto; }

  .container .row .content .entry {
    height: auto; }
    .container .row .content .entry .more-tag {
      padding: .75em 1.0em; }
  .container .row .content .entry-title {
    width: 100%; } }
.sidebar .widget-area:first-of-type {
  margin-top: 0em; }

@media screen and (max-width: 450px) {
  .post-date {
    left: auto; }

  .moretag {
    display: none; }

  .me-right h1, .me-right .nav-links li, .nav-links .me-right li {
    font-size: 25px; }

  .entry-content img {
    width: 100%;
    height: auto; } }

/*# sourceMappingURL=style.css.map */